In [98]:
import pandas as pd

In [99]:
df = pd.read_csv('Flood_Data_Modified.csv',sep=';')
df

,Register_ID,Country,Validation,Began,Ended,Duration in Days,Dead,Displaced,Main cause,Severity,...,Magnitude,Longitude of Centroid X,Latitude of Centroid Y,M>6,Total annual floods M>6,M>4,Total annual floods M>4,Date Began,Total floods M>6,Total floods M>4
0,4214.0,Columbia,News,2014-11-01,2014-12-14,44.0,44.0,0.0,Heavy Rain,1.0,...,7.25,-75.54,4.59,1.0,98.0,1.0,199.0,2014-11-01,1110.0,3682.0
1,4213.0,USA,News,2014-12-11,2014-12-14,4.0,3.0,0.0,Torrential Rain,1.0,...,5.30,-123.10,39.80,0.0,97.0,1.0,198.0,2014-12-11,1109.0,3681.0
2,4212.0,Brazil,News,2014-12-10,2014-12-14,5.0,0.0,0.0,Torrrential Rain,1.0,...,6.00,-49.21,-24.85,0.0,97.0,1.0,197.0,2014-12-10,1109.0,3680.0
3,4211.0,Bulgaria,News,2014-12-04,2014-12-14,11.0,40.0,1000.0,Heavy Rain,1.5,...,6.39,27.71,41.46,1.0,97.0,1.0,196.0,2014-12-04,1109.0,3679.0
4,4210.0,Palestine,News,2014-11-26,2014-12-05,10.0,0.0,300.0,Torrential Rain,1.5,...,4.63,34.45,31.34,0.0,96.0,1.0,195.0,2014-11-26,1108.0,3678.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4209,5.0,Mozambique,News,1985-02-09,1985-02-11,3.0,19.0,0.0,Heavy rain,2.0,...,5.08,32.35,-25.87,0.0,1.0,1.0,5.0,1985-02-09,1.0,5.0
4210,4.0,Indonesia,News,1985-02-04,1985-02-18,15.0,21.0,300.0,Torrential rain,1.0,...,5.39,124.61,1.01,0.0,1.0,1.0,4.0,1985-02-04,1.0,4.0
4211,3.0,Phillipines,News,1985-01-20,1985-01-21,2.0,43.0,444.0,Torrential rain,1.0,...,4.41,122.97,10.02,0.0,1.0,1.0,3.0,1985-01-20,1.0,3.0
4212,2.0,Brazil,News,1985-01-15,1985-02-02,19.0,229.0,80000.0,Heavy rain,2.0,...,7.41,-45.35,-18.71,1.0,1.0,1.0,2.0,1985-01-15,1.0,2.0
4213,1.0,Algeria,News,1985-01-01,1985-01-05,5.0,26.0,3000.0,Heavy rain,1.0,...,5.67,5.23,35.81,0.0,0.0,1.0,1.0,1985-01-01,0.0,1.0

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4214 entries, 0 to 4213
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Register_ID              4213 non-null   float64
 1   Country                  4207 non-null   object
 2   Validation               4213 non-null   object
 3   Began                    4207 non-null   object
 4   Ended                    4207 non-null   object
 5   Duration in Days         4207 non-null   float64
 6   Dead                     4207 non-null   float64
 7   Displaced                4207 non-null   float64
 8   Main cause               4207 non-null   object
 9   Severity                 4207 non-null   float64
 10  Affected sq km           4207 non-null   float64
 11  Magnitude                4208 non-null   float64
 12  Longitude of Centroid X  4207 non-null   float64
 13  Latitude of Centroid Y   4207 non-null   float64
 14  M>6                      4210 non-null   float64
 15  Total annual floods M>6  4210 non-null   float64
 16  M>4                      4210 non-null   float64
 17  Total annual floods M>4  4210 non-null   float64
 18  Date Began               4207 non-null   object
 19  Total floods M>6         4213 non-null   float64
 20  Total floods M>4         4213 non-null   float64
dtypes: float64(15), object(6)
memory usage: 691.5+ KB

In [101]:
df.dropna(inplace=True)
df

,Register_ID,Country,Validation,Began,Ended,Duration in Days,Dead,Displaced,Main cause,Severity,...,Magnitude,Longitude of Centroid X,Latitude of Centroid Y,M>6,Total annual floods M>6,M>4,Total annual floods M>4,Date Began,Total floods M>6,Total floods M>4
0,4214.0,Columbia,News,2014-11-01,2014-12-14,44.0,44.0,0.0,Heavy Rain,1.0,...,7.25,-75.54,4.59,1.0,98.0,1.0,199.0,2014-11-01,1110.0,3682.0
1,4213.0,USA,News,2014-12-11,2014-12-14,4.0,3.0,0.0,Torrential Rain,1.0,...,5.30,-123.10,39.80,0.0,97.0,1.0,198.0,2014-12-11,1109.0,3681.0
2,4212.0,Brazil,News,2014-12-10,2014-12-14,5.0,0.0,0.0,Torrrential Rain,1.0,...,6.00,-49.21,-24.85,0.0,97.0,1.0,197.0,2014-12-10,1109.0,3680.0
3,4211.0,Bulgaria,News,2014-12-04,2014-12-14,11.0,40.0,1000.0,Heavy Rain,1.5,...,6.39,27.71,41.46,1.0,97.0,1.0,196.0,2014-12-04,1109.0,3679.0
4,4210.0,Palestine,News,2014-11-26,2014-12-05,10.0,0.0,300.0,Torrential Rain,1.5,...,4.63,34.45,31.34,0.0,96.0,1.0,195.0,2014-11-26,1108.0,3678.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4209,5.0,Mozambique,News,1985-02-09,1985-02-11,3.0,19.0,0.0,Heavy rain,2.0,...,5.08,32.35,-25.87,0.0,1.0,1.0,5.0,1985-02-09,1.0,5.0
4210,4.0,Indonesia,News,1985-02-04,1985-02-18,15.0,21.0,300.0,Torrential rain,1.0,...,5.39,124.61,1.01,0.0,1.0,1.0,4.0,1985-02-04,1.0,4.0
4211,3.0,Phillipines,News,1985-01-20,1985-01-21,2.0,43.0,444.0,Torrential rain,1.0,...,4.41,122.97,10.02,0.0,1.0,1.0,3.0,1985-01-20,1.0,3.0
4212,2.0,Brazil,News,1985-01-15,1985-02-02,19.0,229.0,80000.0,Heavy rain,2.0,...,7.41,-45.35,-18.71,1.0,1.0,1.0,2.0,1985-01-15,1.0,2.0
4213,1.0,Algeria,News,1985-01-01,1985-01-05,5.0,26.0,3000.0,Heavy rain,1.0,...,5.67,5.23,35.81,0.0,0.0,1.0,1.0,1985-01-01,0.0,1.0

In [109]:
indonesia = df[df["Country"] == 'Indonesia']
indonesia.head(5)

,Register_ID,Country,Validation,Began,Ended,Duration in Days,Dead,Displaced,Main cause,Severity,Affected sq km,Magnitude,Longitude of Centroid X,Latitude of Centroid Y,M>6,Total annual floods M>6,M>4,Total annual floods M>4,Date Began,Total floods M>6,Total floods M>4
10,4204.0,Indonesia,News,2014-11-14,2014-11-16,3.0,0.0,2400.0,Heavy Rain,1.0,57443.0,5.24,100.75,-1.03,0.0,93.0,1.0,189.0,2014-11-14,1105.0,3672.0
41,4173.0,Indonesia,News,2014-08-11,2014-08-19,9.0,2.0,600.0,Torrential Rain,1.0,65177.0,5.77,107.83,-7.00,0.0,79.0,1.0,158.0,2014-08-11,1091.0,3641.0
93,4121.0,Indonesia,News,2014-01-08,2014-02-07,31.0,23.0,20000.0,Heavy Rain,1.5,35769.0,6.22,107.71,-6.63,1.0,54.0,1.0,108.0,2014-01-08,1066.0,3591.0
102,4112.0,Indonesia,News,2013-12-29,2014-01-04,7.0,0.0,4500.0,Heavy Rain,1.0,22525.0,5.20,97.29,4.48,0.0,48.0,1.0,100.0,2013-12-29,1060.0,3583.0
118,4096.0,Indonesia,News,2013-10-07,2013-10-14,8.0,0.0,16000.0,Torrential Rain,1.5,31024.0,5.57,99.68,2.95,0.0,39.0,1.0,84.0,2013-10-07,1051.0,3567.0